shortlinks.kinhho.id.vn {
	handle /api/* {
		reverse_proxy backend:8080
	}

	handle /r/* {
		reverse_proxy backend:8080
	}

	handle /l/* {
		reverse_proxy backend:8080
	}

	handle /oauth2/* {
		reverse_proxy backend:8080
	}

	handle /login/oauth2/* {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy frontend:80
	}
}
